<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="centro_pagina_home">
    <h3 class="cabecalho">Gestão de Empresas</h3>
        <div class="modulos">
            <a href="{% url 'empresas' %}">Empresas</a>
            <a>Colaboradores</a>
            <a>Cargos</a>
            <a>Setores</a>
        </div>
    </div>
</body>
</html>