<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'setores/css/form.css' %}">
    <title> Setores - {% if setor %} Editar {% else %} Cadastro {% endif %} </title>
</head>
<body>
    <div class="div_principal">
        <a href="{% url 'setores:index' %}" class="btn-voltar" title="Voltar para listagem">&#8592; Voltar</a>
        <h2 class="cabecalho">Setores</h2>
        <h3> {% if setor %} Editar {% else %} Cadastro {% endif %} </h3>
        <form action="{{ form_action }}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %} <div class="form-errors">{{ form.non_field_errors }}</div> {% endif %}
            
            <div class="form-row form-row--8col">
                <label for="nome"> Nome do Setor
                    <input name="nome" value="{% if setor.nome %} {{ setor.nome }}{% endif %}" type="text" placeholder="Digite o nome do setor">
                </label>
            </div>
        
            <div class="form-row form-row--8col">
                <label for="descricao"> Descrição
                    <input name="descricao" value="{% if setor.descricao %} {{ setor.descricao }}{% endif %}" type="text" placeholder="Digite a descrição do setor">
                </label>
            </div>
        
            <div class="form-actions">
                <button type="submit" class="btn-submit">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>