body {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f6f6f6;
}

.centro_pagina_home {
    margin: 5% auto;
    width: 90%;
    height: 150px;
    max-width: 500px;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

.cabecalho {
    text-align: center;
}

.modulos {
    margin: 8% auto;
    font-size: 19px;
    width: 90%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 20px;
    justify-content: center;
}